@use '../assets' as a;

.contact-form {
	// background-color: a.$off-white;
	text-align: left;
	padding: 2rem 0rem;

	div:not(.errors) {
		display: flex;
		flex-direction: column;
		max-width: 60rem;
		margin: 0 auto;
		padding: 1rem 0;
		color: a.$off-white;

		div.errors {
			color: rgb(218, 10, 10);
		}
	}
}
