@use '../assets' as a;

.contact {
	background-color: a.$primary;

	.inner-container {
		padding: 8rem 1.6rem;
	}
}

.contact input,
.contact textarea {
	border-radius: 8px;
	padding: 5px;
	font-family: 'Poppins', sans-serif;
}

.contact textarea {
	min-height: 29rem;
}
