@use '../assets' as a;

.contact {
	background-color: a.$primary;
}

.contact input,
.contact textarea {
	border-radius: 8px;
	padding: 5px;
	font-family: 'Poppins', sans-serif;
	border: none;
}

.contact textarea {
	min-height: 29rem;
}

input[type='submit'] {
	padding: 1rem;
}
